* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c2826;
  color: #eef4d4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
